<div class="backgrLog">
  <div class="logs">
    <form class="formspace">
      <br>
      <br>
        <div class="form-group">
          <label >Food Database</label>
          <input ng-model="foodname" name="food" type="text" class="form-control" placeholder="Enter a food">
        </div>
      <button ng-show="submitbut" style="color: black;" ng-click="submitFood()" type="submit" method="post" name="button" class="btn btn-default">Submit</button>
      <div ng-show="foodoptions">
        <select
          ng-options="foody.item_name for foody in foodsmany"
        ng-model="foody">
      </select>
      <br><br>
      <button class="btn btn-default" type="submit" ng-click="toDataBase()">Submit</button>
    </div>

        <h3 ng-show="enteredNada">Enter a food name!</h3>
    </form>

    <form class="formspace">
        <div class="form-group">
          <label >My Custom Entered Foods</label>
          <input ng-model="foodname2" name="food" type="text" class="form-control" placeholder="Enter a food">
        </div>
      <button style="color: black;" ng-click="submitSavedFoods()" type="submit" method="post" name="button" class="btn btn-default">Submit</button>
      <h3 ng-show="enteredNada2">Enter a food name!</h3>
      <h3 ng-show="notfound">You never created that food!</h3>
    </form>
    <br>
    <br>

    <button class="formspaced btn btn-default" style="color: black;" ng-click="custom()" type="submit" method="post" name="button">Stored Custom Foods</button>

    <br>
    <br>
    <br>
    <br>
    <table class="table space bottom">
      <thead class="smallScreen none">
        <tr class="smallScreen">
          <th class="smallScreen">#</th>
          <th class="smallScreen">Food</th>
          <th class="smallScreen">Quantity</th>
          <th class="smallScreen">Calories</th>
          <th class="smallScreen">Total Fat(g)</th>
          <th class="smallScreen">Saturated Fat(g)</th>
          <th class="smallScreen">Cholesterol(mg)</th>
          <th class="smallScreen">Sodium(mg)</th>
          <th class="smallScreen">Carbohydrates(g)</th>
          <th class="smallScreen">Fiber(g)</th>
          <th class="smallScreen">Sugars(g)</th>
          <th class="smallScreen">Protein(g)</th>
          <th class="smallScreen"></th>
          <th class="smallScreen"></th>

        </tr>
      </thead>
      <tbody class="smallScreen">
        <tr class="smallScreen" ng-repeat="foods in food">
          <th scope="row">{{$index + 1}}</th>

          <td class="smallScreen"><span class="display">Food Name:</span>{{foods.foodname}}</td>
          <td class="smallScreen"><span class="display">Quantity:</span>{{foods.quantity}}</td>
          <td class="smallScreen"><span class="display">Calories:</span>{{foods.quantity * foods.calories | number: 2}}</td>
          <td class="smallScreen"><span class="display">Total Fat (g):</span>{{foods.quantity * foods.totalFat | number: 2}}</td>
          <td class="smallScreen"><span class="display">Saturated Fat (g):</span>{{foods.quantity * foods.saturatedFat | number: 2}}</td>
          <td class="smallScreen"><span class="display">Cholesterol (mg):</span>{{foods.quantity * foods.cholesterol | number: 2}}</td>
          <td class="smallScreen"><span class="display">Sodium (mg):</span>{{foods.quantity * foods.sodium | number: 2}}</td>
          <td class="smallScreen"><span class="display">Carbohydrates (g):</span>{{foods.quantity * foods.carbohydrates | number: 2}}</td>
          <td class="smallScreen"><span class="display">Fiber (g):</span>{{foods.quantity * foods.fiber | number: 2}}</td>
          <td class="smallScreen"><span class="display">Sugars (g):</span>{{foods.quantity * foods.sugars | number: 2}}</td>
          <td class="smallScreen"><span class="display">Protein (g):</span>{{foods.quantity * foods.protein | number: 2}}</td>
          <td class="smallScreen"><button ng-click="deleteFoods(foods.foodname, foods._id)" type="button" name="button" class="btn btn-danger">Delete</button></td>


        </tr>

        <tr class="smallScreen">
          <th class="smallScreen">
            <form class=""  method="post">


          <td class="smallScreen">  <input ng-model ="myfood" name="food" type="text" class="form-control" placeholder="Food (To edit use same food name)">
          </td>
          <td class="smallScreen">  <input ng-model="quantity" name="food" type="text" class="form-control" placeholder="Qty">
          </td>
          <td class="smallScreen">  <input ng-model="calories" name="food" type="text" class="form-control" placeholder="Cal">
          </td>
          <td class="smallScreen">  <input ng-model="total_fat" name="food" type="text" class="form-control" placeholder="Fat">
          </td>
          <td class="smallScreen">  <input ng-model="saturated_fat" name="food" type="text" class="form-control" placeholder="Saturated Fat">
          </td>
          <td class="smallScreen">  <input ng-model="cholesterol" name="food" type="text" class="form-control" placeholder="Cholesterol">
          </td>
          <td class="smallScreen">  <input ng-model="sodium" name="food" type="text" class="form-control" placeholder="Sodium">
          </td>
          <td class="smallScreen">  <input ng-model="carbohydrates" name="food" type="text" class="form-control" placeholder="Carbohydrates">
          </td>
          <td class="smallScreen">  <input ng-model="fiber" name="food" type="text" class="form-control" placeholder="Fiber">
          </td>
          <td class="smallScreen">  <input ng-model="sugars" name="food" type="text" class="form-control" placeholder="Sugars">
          </td>
          <td class="smallScreen">  <input ng-model="protein" name="food" type="text" class="form-control" placeholder="Protein">
          </td>
          <td class="smallScreen"><button ng-click="createSavedFood()" type="button" name="button" class="btn btn-success">Submit/Edit</button></td>
              </form>
          </th>
        </tr>
        <tr class="smallScreen">
          <th class="smallScreen" scope="row">&#x221e;</th>

          <td class="smallScreen bold">Total</td>
          <td class="smallScreen bold"><span class="display">Quantity:</span>{{sumQty}}</td>
          <td class="smallScreen bold"><span class="display">Calories:</span>{{sumCal | number: 2}}</td>
          <td class="smallScreen bold"><span class="display">Total Fat (g):</span>{{sumTFat | number: 2}}</td>
          <td class="smallScreen bold"><span class="display">Saturated Fat (g):</span>{{sumFat | number: 2}}</td>
          <td class="smallScreen bold"><span class="display">Cholesterol (mg):</span>{{sumCho | number: 2}}</td>
          <td class="smallScreen bold"><span class="display">Sodium (mg):</span>{{sumSo | number: 2}}</td>
          <td class="smallScreen bold"><span class="display">Carbohydrates (mg):</span>{{sumCarb | number: 2}}</td>
          <td class="smallScreen bold"><span class="display">Fiber (g):</span>{{sumFi | number: 2}}</td>
          <td class="smallScreen bold"><span class="display">Sugars (g):</span>{{sumSug | number: 2}}</td>
          <td class="smallScreen bold"><span class="display">Protein (g):</span>{{sumPro | number: 2}}</td>






        </tr>

      </tbody>

    </table>
    <div class="formspace"><h5> *You can edit foods that exist by using the same food name in the edit field*</h5><img style="width: 100px;" src="pics/nutrition.png" alt="none"></div>
  </div>

</div>
